/*This solution was inspired by researching online - I used what I understood and deleted the rest*/
/*I chose to use the information I gathered - instread of reinventing the wheel, I decided to understand how it works*/
body {  
	background-color: lightgrey;
  }
.clear { 
	clear: both;
	height: 200px;
         }
.container { /*gave the container div of the page fix width and centered it on the page*/
	width: 800px;
    margin: 40px auto 60px; 
     }
.pic { /*tilt and position picture*/
	position: absolute; 
	top: 10px;
	right:250px;
	transform: skewY(-2.2deg);
	border: 2px solid grey;
    border-radius: 0px;
    padding: 0;
        }
h1 { 
	margin: 0 0 10px 0; 
	padding: 0 0 5px 0; 
	font-size: 42px; 
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid black; 
        }
h2 {
 font-size: 20px;
 margin: 0 0 6px 0; 
 position: relative; 
		}
h2 span { 
 	position: absolute; 
 	bottom: 0; right: 0;
 	font-style: italic;
 	font-family: Georgia, Serif; 
 	font-size: 16px; color: grey;
 	font-weight: normal;
 		 }
p { 
	margin: 0 0 16px 0;
		 }
a:hover {/*when someone hovers over the email they will know they will be able to email me directly*/
	color: purple;
         }
ul { 
	margin: 0 0 25px 25px; 
        }
.objective { /*sets the dimension of the objective section to ensure it doesnt spread over the picture and set it to the left side*/
	width: 500px; float: left; 
        }
.objective p { 
	font-family: Georgia, Serif; 
	font-style: italic; 
	color: grey; 
        }
dt { /*sets the dimesion and the   the title of each section experience hobbies etc and set it to the left of the screen. the border is set to 1px to create a vertical line seperate the 
	details from the heading*/
	font-style: italic; 
	font-weight: bold;
	font-size: 18px; 
	text-align: right; 
	padding: 0 25px 0 0;/*gives the heading a fixed and centered look away from the vertical line*/
	width: 150px; float: left; 
	height: 100px; 
	border-right: 1px solid grey;
	    }
dd { 
    margin:	0; 
    padding: 0;
    width: 600px;
    float: right;/*floats were use to set the heading details to the left*/
    	}
 dd.clear{ 
 	float: none; /*float was set to none to ensure that each h2 header was on its own line*/
 	 margin: 0; 
 	 height: 10px;/*sets the space between each dt definition title/header set 10 pixels apart*/
 	 	} 
@keyframes shake {/*this was done to create a fun animation...it will wiggle........wiggle*/
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
		}  
img:hover {
  animation: shake 0.5s;/*takes 0.5s to make one wiggle/ oscillation*/
  animation-iteration-count: 2s; /*wiggle for 2s*/
		}